/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: 'Stara';
  src: url('../Assets/fonts/Stara-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stara';
  src: url('../Assets/fonts/Stara-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stara';
  src: url('../Assets/fonts/Stara-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Stara';
  src: url('../Assets/fonts/Stara-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

html {
  scroll-padding: 100px;
  scroll-behavior: smooth;
  /* Adjust based on your header height */
  background-color: #636DB5; /* fallback */
  background-image: linear-gradient(#636DB5, #1c1f36);
  min-height: 100vh;
}

/* Make sure the body takes full height of the viewport */
body {
  /* adding font */
  font-family: 'Stara', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.35rem;
  /* ~24px */
  /* sizing */
  min-height: 100vh;
  max-width: 1200px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  color: #eaeaea;
  background: none; /* Remove background from body */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stara', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

#about h1,
#projects h1,
#contact h1 {
  font-size: 2.25rem;
}

/* ------------Navigation Styling --------------------*/
.main-nav {
  /* scrolling functionality */
  position: sticky;
  top: 20px;
  z-index: 1000;
  /* sizing & spacing */
  width: 100%;
  margin: 0 auto;
  background: rgba(231, 231, 231, 0.4);
  border-radius: 30px;
  padding: 0.25rem;
  /* flexbox for layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* effects */
  backdrop-filter: blur(5px);
}

/* Navigation list styles */
.main-nav .nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  /* Center the links horizontally */
  gap: 20px;
  /* Space between links */
  padding: 0;
  margin: 0;
}

.main-nav .nav-links li {
  display: inline-block;
  /* Make sure list items are inline */
}

/* Navigation link styles */
.main-nav .nav-links li a {
  padding: 6px 14px;
}

.nav-links li a {
  color: #eaeaea;
  background: none;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 20px;
  transition: background 0.2s;
  padding: .5rem;

}

/* Navigation link hover effect */
.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Social icon link styles */
.nav-social {
  display: flex;
  margin-right: 1rem;
  gap: .5rem;
  text-decoration: none;
}

.nav-social a {
  color: #eaeaea;
  text-decoration: none;
  transition: color 0.2s;
}
/* ----nav social svg draw animation */
.nav-social svg path,
.nav-social svg g {
  stroke: currentColor;
  fill: none;


  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  /* start hidden */
}

.nav-social a:hover svg path,
.nav-social a:hover svg g {
  animation: draw 12s linear forwards;
  /* one-shot; stays at final frame on hover */
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }

  /* hidden */
  to {
    stroke-dashoffset: 0;
  }

  /* fully drawn */
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* Logo styling */
.nav-logo {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.nav-logo img {
  height: 2em;
  width: auto;
  display: block;
}



/* ------------ Mobile Nav ------------ */
.mobile-nav {
  display: none;
  top: 0;
  right: calc(5vw);
  /* Adjust based on your layout */
  grid-template-columns: 1fr;
  /* ONE column */
  grid-template-rows: auto auto;
  /* TWO rows: nav links, then social icons */

  gap: 1rem;
  position: fixed;
  top: 90px;
  /* Adjust based on your header height */
  z-index: 999;
  max-width: fit-content;

  background: rgba(231, 231, 231, 0.4);
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 20px;
}

.mobile-nav.open {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.mobile-nav .nav-links ul {
  list-style: none;
  /* Remove default list styles */
  gap: 1rem;
  /* Space between links */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

.mobile-nav .nav-social {
  padding-left: .5rem;
}

/* Navigation toggle button for mobile */
.nav-open-icon {
  /* Show this on mobile with a media query if needed */
  display: none;
  /* Hidden by default, shown on smaller screens */
  margin: 0 1.5rem;
}

.nav-close-icon {
  display: none;
  margin: 0 1.5rem;
}

.nav-open-icon,
.nav-close-icon {
  display: none;
}

/* --------Hero Section Styling----- */
/* Hero Styling Bigger Sreens */
.hero {
  display: block;
  height: 100vh;
  margin-top: 75px;
}

/* Two-column Layout */
.hero-content {
  text-align: center;
}

/* 4. Text Section */
.hero-text {
  margin-bottom: 30px;
  /* Ensures text section is not too narrow */
}

.hero-text h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

.hero-text h2 {
  font-weight: 700;
  font-size: 2.75rem;
}

.hero-text p {
  font-size: 1.5rem;
}

.hero-text .highlight {
  background: linear-gradient(90deg, #cdbafb, #74c6f1);
  /* Gradient from purple to blue */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;

}

/* 5. Image/Card */
.hero-img {
  width: 100%;
  max-width: 390px;
  /* Maximum width */
  min-width: 180px;
  /* Minimum width */
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  /* Ensures the image covers the area nicely */
}

/*-------- About me ---------- */

.about-me-txt {
  margin-bottom: 3.5rem;
}

/* -------- Projects Styling ----------- */
.project-box {
  display: flex;
  gap: 2rem;
  background: rgba(231, 231, 231, 0.25);
  /* Soft glassy background */
  border-radius: 32px;
  box-shadow: 0 4px 32px rgba(44, 44, 80, 0.12);
  padding: 1.5rem 1.5rem;
  margin-bottom: 2.5rem;
  transition: box-shadow 0.2s; 
  /* animation */
}

.project-box:hover {
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.40);
}

.project-image img {
  width: 360px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 16px rgba(44, 44, 80, 0.10);
  object-fit: cover;
  display: block;
}

.project-info {
  flex: 1;
  color: #eaeaea;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


.technologies-list {
  padding: 0;
  /* Bootstrap sets padding-left; override it */
  margin: 0;
  /* optional: also neutralize default margin */
  list-style: none;
  /* remove bullets at the UL level */
}

.technologies-list li {
  display: inline-block;
  list-style: none;
  padding: 0.2rem;
  margin: .2rem;
  border: 2px solid #c4aaff;
  border-radius: 10px;
  color: #c4aaff;

}
/*----------Project Animations -----------------------*/

.fade-up,
.fade-left,
.fade-right {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Start Hidden */
.fade-up.hidden {
  transform: translateY(40px);
  opacity: 0;
}

.fade-left.hidden {
  transform: translateX(40px);
  opacity: 0;
}

.fade-right.hidden {
  transform: translateX(-40px);
  opacity: 0;
}

/* Reveal State */
.fade-up.show,
.fade-left.show,
.fade-right.show {
  transform: translate(0);
  opacity: 1;
}

.delay-1 {
  transition-delay: .5s;
}

.delay-2 {
  transition-delay: 1s;
}

/* Responsive for mobile */

/* --------------Contact-------------- */


#contact h1 {
  margin-bottom: 2rem;
}

.contact-container {
  padding: 2rem;
  background-color: rgba(231, 231, 231, 0.25);
  border-radius: 20px;
  width: 90%;
  margin: 0 auto 3rem auto;

}

.contact-container a {
  color: #62daff;
  overflow-wrap: anywhere;
}

.contact-container a:hover {
  color: #4da2bc
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  /* center */
  margin: 0 auto;
}

.contact-input {
  background-color: rgb(242, 242, 248);
  border: none;
  padding: .25rem;
  border-radius: 10px;
  font-size: 1.25rem;
}

.contact-form img {
  height: 30px;
}

.contact-form button {
  width: 8rem;
  color: #eaeaea;
  border: none;
  background-color: rgb(99 109 181);
  border-radius: 20px;
  padding: .25rem;
}

footer {
  text-align: center;
}



/* smartphones */
@media (max-width: 425px) {

  /* smaller hero heading */
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h2 {
    font-size: 2.25rem;
  }

  /* smaller text  */
  #hero p,
  #about p,
  #contact p,
  footer {
    font-size: 1.2rem;
  }

  /* smaller project info textt */
  .project-info {
    font-size: 1rem;
  }

}

/* hide main nav and present hamburger nav */
@media (max-width: 720px) {

  .main-nav .nav-social,
  .main-nav .nav-links {
    /*Hide desktop navigation*/
    display: none;
    /* Hide on mobile */
  }

  .nav-open-icon {
    display: block;
  }

  .nav-close-icon {
    display: block;
  }

  .nav-close-icon.hidden {
    display: none !important;
  }

  .nav-open-icon.hidden {
    display: none !important;
  }

}

/* tablets */
@media (max-width: 768px) {

  /*project boxes*/
  .project-box {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem;
    gap: 1.5rem;
  }

  .project-image img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .project-info {
    padding-left: 0;
  }
}


/* larger screens */
@media (min-width: 1024px) {
  .nav-open-icon {
    display: none !important;
  }

  .nav-close-icon {
    display: none !important;
  }

  .mobile-nav {
    display: none !important;
  }

  /* hero content */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  /* Two-column Layout */
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* Add this to center children horizontally */
    gap: 6rem;
    width: 100%;
    flex-wrap: wrap;
    margin: auto auto;
  }

  /* 4. Text Section */
  .hero-text {
    flex: 1;
    min-width: 350px;
    /* Ensures text section is not too narrow */
  }

  .hero-text h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }

  .hero-text h2 {
    font-weight: 700;
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 1.5rem;
  }

}

@media (min-width: 1440px) {
  .hero-text h1 {
    font-weight: 700;
    font-size: 2.75rem;
  }

  .hero-text h2 {
    font-weight: 700;
    font-size: 3.75rem;
  }

  .hero-text p {
    font-size: 1.75rem;
  }

}